.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 100vh;
    background-color: #0A0A19;
    color: white;
    box-sizing: border-box;
    margin: 0;
}

.hero-content {
    max-width: 50%;
    text-align: left;
    margin-left: 450px;
    margin-top: -100px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: white;
}

.typewriter-container {
    font-size: 1.5rem;
    color: #2e4de6;
}

.highlight {
    color: #2e4de6;
}

.hero-image {
    max-width: 350px;
    margin-left: -200px;
    margin-top: -100px;
    border-radius: 20%;
    overflow: hidden;
    position: relative;
    left: -1100px;
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    object-fit: cover;
}