/* src/pages/Experience/Experience.css */

.experience-container {
    padding: 50px 20px;
    background-color: #0A0A19;
    color: white;
    text-align: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px 0;
    max-width: 800px;
    /* Constrain the width of the timeline */
    margin: 0 auto;
    /* Center the timeline */
}

.job-square {
    width: 90%;
    /* Adjust width to take up most of the timeline's width */
    max-width: 380px;
    /* Max width for each job square */
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.job-square h3 {
    margin-bottom: 10px;
    color: #E31B6D;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.job-square p {
    margin: 5px 0;
    line-height: 1.4;
}

.job-square img {
    width: 50px;
    /* Adjust the size of the logo */
    height: 50px;
    margin-right: 10px;
}

.job-square .date {
    font-size: 0.9rem;
    color: #888;
    text-align: right;
}

.job-square:nth-child(odd) {
    align-self: flex-end;
    margin-right: -10px;
    /* Ensure it is closer to the center line */
}

.job-square:nth-child(even) {
    align-self: flex-start;
    margin-left: -10px;
    /* Ensure it is closer to the center line */
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #E31B6D;
    transform: translateX(-50%);
}

.job-square.job-1 {
    animation: fadeIn 0.5s ease-out forwards 0.5s;
}

.job-square.job-2 {
    animation: fadeIn 0.5s ease-out forwards 1s;
}

/* New styling for the employer name */
.job-square .employer {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}